@page "/impressum"



<div class="main">
    <h1>Impressum für Blazing Pizza</h1>
    <div></div>
    <ul>
        <li><b>Geschäftsfürer: </b><i>Max Mustermann</i></li>
        <li><b>Firmensitz: </b><i>Musterstadt</i></li>
        <li><b>Postanschrift Head-Office: </b><i>XYZ-Straße 47. 474747 Musterstadt</i></li>
        <li>
            <h6>Kontakt:</h6>
            <div><i>BlazingPizza GmbH</i></div>
            <div><i>XYZ-Straße 47.</i></div>
            <div><i>474747 Musterstadt</i></div>
        </li>
        <li><b>Registernummer: </b><i>65536047</i></li>
        <li><b>Registergericht: </b><i>Musterstadt-Amtsgericht</i></li>
        <li><b>USI-ID: </b><i>1024047</i></li>
    </ul>
</div>

