@page "/impressum"



<div class="main">
    <h1>Impressum für Blazing Pizza</h1>
    <div></div>
    <ul>
        <li>Geschäftsfürer:.........</li>
        <li>Firmensitz:.........</li>
        <li>Postanschrift Head-Office:.........</li>
        <li>
            <h6>Kontakt:</h6>
            <div>1.........</div>
            <div>2.........</div>
            <div>3.........</div>
        </li>
        <li>Registernummer:.........</li>
        <li>Registergericht:.........</li>
        <li>USI-ID:.........</li>
    </ul>
</div>

